<div class="container">
    <a href="/ticket">
        <h5>تیکت ها</h5>
    </a>
    <a href="/ticket/create">
        <h5>ثبت تیکت</h5>
    </a>

    <h3>Charts</h3>
    <br>
    <div class="row">
        <div class="col-6" *ngFor="let chart of Charts">
            <div>
                <span>{{chart.name}}</span>
                <br>
                <span>{{chart.chartType}}</span>
            </div>
            <div *ngFor="let item of chart.items">
                <div style="background-color:{{item.color}};">{{item.name}}</div>

                <div *ngFor="let value of item.itemDetails">
                    <div>{{value.value}}</div>
                </div>
            </div>
        </div>
    </div>
</div>