<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <ng-container *ngIf="IsAuthenticated; else elseTemplate">
        <div>

          <button class="btn" style="--bs-btn-bg:#c4948c99" (click)="LogOut()"> LogOut</button>
          <a href="/dashboard" class="btn">
            <i class="fa fa-home"></i>
            <span style="margin-left:20px;">
              {{ Authenticated.fullname }}
            </span>
          </a>

        </div>

      </ng-container>
      <ng-template #elseTemplate>
        <a class="btn" style="--bs-btn-bg:#c4948c99" href="/login"> Login </a>
      </ng-template>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- 
<editor [init]="{
    base_url: '/tinymce', 
     height: 500,
     menubar: true,
     plugins: [
       'advlist', 'autolink', 'lists','link', 'code', 'fullscreen',
        'image', 'charmap', 'preview', 'anchor','visualblocks',
        'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount'
       ],
       toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
      }"></editor> -->