<div class="wrapper">
  <div class="logo">
    <img src="favicon.ico" alt="">
  </div>
  <div class="text-center mt-4 name">
    CRM
  </div>
  <div class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" [(ngModel)]="login.cellphoneNumber" name="cellphoneNumber" id="cellphoneNumber"
        placeholder="Phone Number">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" value="1234512345" [(ngModel)]="login.password" name="password" id="pwd"
        placeholder="Password">
    </div>
    <button (click)="DoLogin()" class="btn mt-3">Login</button>
  </div>
  <div class="text-center fs-6">
    <a href="#">Forget password?</a> or <a href="/Register">Sign up</a>
  </div>
</div>