<div class="container py-5 align-items-center">

  <div class="wrapper text-center">
    <div>
      <form class="form-inline" (ngSubmit)="DoCreate($event.target)">

        <div>
          <span class="far fa-user">دپارتمان</span>
          <select class="form-control" id="departmentId" name="departmentId" [(ngModel)]="model.departmentId" required>
            <option value="0">لطفا یکی از گزینه های زیر را انتخاب کنید</option>
            <option *ngFor="let department of Departments" value="{{ department.id }}">{{ department.name }}</option>
          </select>
        </div>

        <br>

        <div>
          <span class="far fa-user">اولویت</span>
          <select class="form-control" id="priorityId" name="priorityId" [(ngModel)]="model.priorityId" required>
            <option value="0">لطفا یکی از گزینه های زیر را انتخاب کنید</option>
            <option *ngFor="let priority of Priorities" value="{{ priority.id }}">{{ priority.name }}</option>
          </select>
        </div>

        <br>

        <div>
          <span class="far fa-user">سرویس</span>
          <select class="form-control" id="serviceId" name="serviceId" [(ngModel)]="model.serviceId" required>
            <option value="0">لطفا یکی از گزینه های زیر را انتخاب کنید</option>
            <option *ngFor="let service of Services" value="{{ service.id }}">{{ service.name }}</option>
          </select>
        </div>

        <br>

        <div>
          <span class="far fa-user">نوع تیکت</span>
          <select class="form-control" id="ticketTypeId" name="ticketTypeId" [(ngModel)]="model.ticketTypeId" required>
            <option value="0">لطفا یکی از گزینه های زیر را انتخاب کنید</option>
            <option *ngFor="let ticketType of TicketTypes" value="{{ ticketType.id }}">{{ ticketType.name }}</option>
          </select>
        </div>

        <br>

        <div class="form-field d-flex align-items-center">
          <span class="far fa-user">title</span> &nbsp;
          <input type="text" required [(ngModel)]="model.title" name="title" id="title" placeholder="Title">
        </div>

        <br>

        <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <editor [(ngModel)]="model.description" name="desc" [init]="{
            base_url: '/tinymce', 
             height: 250,             
             menubar: true,
             plugins: [
               'advlist', 'autolink', 'lists','link', 'code', 'fullscreen',
                'image', 'charmap', 'preview', 'anchor','visualblocks',
                'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount'
               ],
               toolbar:
               'undo redo | formatselect | bold italic backcolor | \
               alignleft aligncenter alignright alignjustify | \
               bullist numlist outdent indent | removeformat | help'
              }"></editor>
          <input [(ngModel)]="model.description" id="description" name="description" hidden >
        </div>
        <br>
        <div class="form-field d-flex align-items-center">
          <span class="far fa-user">title</span> &nbsp;
          <input type="file" (change)="onFileChange($event)" required name="file" id="file">
        </div>
        <input type="checkbox" [(ngModel)]="model.isActive" value="true" hidden required name="isActive" id="isActive">
        <input type="checkbox" [(ngModel)]="model.isExpirable" value="false" hidden required name="isExpirable"
          id="isExpirable">

        <input type="text" [(ngModel)]="model.expireDateTime" hidden required name="expireDateTime" id="expireDateTime">

        <button type="submit" class="btn mt-3" value="create">Create</button>

      </form>
    </div>
  </div>
</div>